<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-176781189-1');
		</script>
		
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="/home">Home</a></li>
							<li><a href="/opportunities">Opportunities</a></li>
							<li><a href="/resources">Resources</a></li>
							<li><a href="/events">Virtual Events</a></li>
							<li><a href="/blog">Blogs</a></li>
							<li><a href="/newsletter">Newsletters</a></li>
							<li><a href="/team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="/contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

					<div id="main" class="alt">

						<!-- One -->

									<div class="inner">
									<header class="major">
										<h1>Competitive Programming</h1>
									</header>

									<!-- Content -->
									<div class="row">											
											<!-- Break -->
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>ACM-ICPC</h3>
														<p>It is the oldest, largest, and most prestigious programming contest in the world.</p>
														<p><b>Eligibility:</b> A student must be enrolled in a degree program at the team’s institution with at least a half-time load.</p>
														<p><b>Applications Period:</b> September to October</p>
														<p><b>Team Size:</b> 3</p>
														
														<div align="left">
														<a href="https://icpc.global/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google CodeJam I/O for women</h3>
														<p>Code Jam to I/O for Women is organised to bring women from all around the world to solve tough algorithmic challenges in a 2.5 hour, single-round coding competition.The top 150 on the scoreboard will receive a ticket and reimbursement to offset travel expenses to Google I/O.</p>
														<p><b>Eligibility:</b> Women students and professionals.</p>
														<p><b>Applications Period:</b> January</p>
														<p><b>Team Size:</b> 1</p>
														
														<div align="left">
														<a href="https://codingcompetitions.withgoogle.com/codejamio" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google Kickstart</h3>
														<p>Kick Start is a global online coding competition, consisting of three-hour rounds of a variety of algorithmic challenges designed by Google engineers.</p>
														<p><b>Eligibility:</b> Anyone</p>
														<p><b>Applications Period:</b> February</p>
														<p><b>Team Size:</b> 1</p>
														
														<div align="left">
														<a href="https://codingcompetitions.withgoogle.com/kickstart/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google CodeJam</h3>
														<p>Code Jam is Google's longest running global coding competition. Competitors work their way through a series of online algorithmic puzzles to earn a spot at the World Finals, all for a chance to win the championship title and 15,000 USD.</p>
														<p><b>Eligibility:</b> 18 years or older</p>
														<p><b>Applications Period:</b> March</p>
														<p><b>Team Size:</b> 1</p>
														
														<div align="left">
														<a href="https://codingcompetitions.withgoogle.com/codejam/archive/2020" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google Hashcode</h3>
														<p>Hash Code is a team programming competition, organized by Google, for students and professionals around the world. Pick your team and programming language and solve some interesting engineering problems.Top teams will then be invited to a Google office for the Final Round.</p>
														<p><b>Eligibility:</b> 18 years or older</p>
														<p><b>Applications Period:</b> January</p>
														<p><b>Team Size:</b> 4</p>
														
														<div align="left">
														<a href="https://codingcompetitions.withgoogle.com/hashcode/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
									</div>
									<hr class="major" />

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li><li>Content by <a href="https://github.com/SonaliSinghal" target="_blank">Sonali Singhal</a> (Website: <a href="http://techhelpher.me/" target="_blank">techhelpher.me</a>)</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>