<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-176781189-1');
		</script>
		
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="home">Home</a></li>
							<li><a href="opportunities">Opportunities</a></li>
							<li><a href="resources">Resources</a></li>
							<li><a href="events">Virtual Events</a></li>
							<li><a href="blog">Blogs</a></li>
							<li><a href="newsletter">Newsletters</a></li>
							<li><a href="team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

					<div id="main" class="alt">

						<!-- One -->

									<div class="inner">
									<header class="major">
										<h1>Virtual Events</h1>
									</header>

									<!-- Content -->
									<div class="row">											
											<!-- Break -->
											<div class="col-6 col-12-medium">
													<div class="box" id="exploring-tech-world">
														<h3 align="center">Exploring the Tech World</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/exploring-tech-world.png') }}" alt="" /></span>
														<h5> Hosts: Bhavya Chopra, Pragya Sikka, Ria Gupta, Shubhi Singhal, Vrinda Narayan</h5>
														<!-- <h5> When: 19th September 2020, 4:00 - 5:00 PM</h5> -->
														<p>WiT conducted a session to provide an overview of opportunities in CS and related domains, to help students explore and navigate different opportunities such as open source, competitive programming, entrepreneurship, research, and much more, during their undergraduate studies.</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/xxmhgmaAx_U">
														</iframe>
														</div>
													</div>

											</div>
											<div class="col-6 col-12-medium">
													<div class="box" id="google-generation-ama">
														<h3 align="center">Generation Google Scholarship AskMeAnything</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/Google-generation-scholarship.png') }}" alt="" /></span>
														<h5> Hosts: Vrinda Narayan, Ananya Jain, Larika Sehgal</h5>
														<!-- <h5> When: 19th September 2020, 4:00 - 5:00 PM</h5> -->
														<p>WiT conducted a webinar, followed by an AMA session for students applying to the Generation Google Scholarship. Listen to past Women Techmakers scholars Vrinda Narayan, Larika Sehgal and Ananya Jain share tips and talk about the application process.</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/7hkv6ieJFRk">
														</iframe>
														</div>
													</div>

											</div>
											
										</div>
										<div class="row">											
											<!-- Break -->
											<div class="col-6 col-12-medium">
													<div class="box" id="mba">
														<h3 align="center">Pursuing an MBA in the US</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/MBA.jpg') }}" alt="" /></span>
														<h5> Host: Aman Agarwal</h5>
														<!-- <h5> When: 19th September 2020, 4:00 - 5:00 PM</h5> -->
														<p>Aman Agarwal graduated from IIITD in 2017 and went to NYU Stern School of Business to pursue an MBA where he was one of the Berkley Scholars. Currently, he is working as an associate at a-connect in the US. He takes us through his MBA journey, gives application tips and shares his experience studying in the US.</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/UZ7RSxfA4y0">
														</iframe>
														</div>
													</div>

											</div>
											<div class="col-6 col-12-medium">
													<div class="box" id="googleSTEP">
														<h3 align="center">The Google STEP Journey</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/Google_STEP.png') }}" alt="" /></span>
														<h5> Hosts: Samiya Caur, Arundhati Bhattacharya</h5>
														<!-- <h5> When: 19th September 2020, 4:00 - 5:00 PM</h5> -->
														<p>Women In Tech, IIITD is conducting a webinar followed by an AMA session on the Google STEP internship, hosted by former STEP interns, Samiya and Arundhati. The Google STEP internship is a wonderful opportunity for students to kick-start their careers in the field of technology.</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/0sfQMYiGwM4">
														</iframe>
														</div>
													</div>

											</div>
											
										</div>
										<div class="row">
											<div class="col-6 col-12-medium">
													<div class="box" id="fintech">
														<h3 align="center">All About Fintech</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/fintech.png') }}" alt="" /></span>
														<h5> Hosts: Gargi Gupta, Tushita Rathore</h5>
														<p>Get to know all about FinTech by Gargi Gupta & Tushita Rathore! This session will enlighten us about what is fintech, amazing career opportunities in this field, and a sneak peek into their journeys as well!</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/VJ2Yf0CQ3-E">
														</iframe>
														</div>
													</div>

											</div>
											<div class="col-6 col-12-medium">
													<div class="box" id="career-design">
														<h3 align="center">Career in Design</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/career-design.png') }}" alt="" /></span>
														<h5> Hosts: Bhavna Nagpal, Amya Rai, Chanchal Prajapati, Karan Gupta</h5>
														<p>Women in Tech, IIITD conducted a webinar on Career in Design by our amazing alumuni as panelists! A really helpful session to clear any doubts you might have around the design field.</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/xg4N_ZKZGzc">
														</iframe>
														</div>
													</div>

											</div>


										</div>
										<div class="row">
												<div class="col-6 col-12-medium">
													<div class="box" id="tech-roles">
														<h3 align="center">Applying to Tech Roles</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/tech-roles.jpg') }}" alt="" /></span>
														<h5> Host: Anannya Uberoi</h5>
														<p>Here is the AMA session by Anannya Uberoi guiding through the journey of finding jobs and internships, preparing for them, and attempting interviews!</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/TLr9EW-Dn-c">
														</iframe>
														</div>
													</div>

											</div>
											<div class="col-6 col-12-medium">
													<div class="box" id="wtm-ama">
														<h3 align="center">Women Techmakers Scholarship AskMeAnything Session</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/events/wtm-ama.png') }}" alt="" /></span>
														<h5> Hosts: Zoha Hamid, Angel Walia</h5>
														<p>Listen to past WTM scholars Zoha Hamid and Angel Walia talk all about the scholarship program in this ask my anything session.</p>
														<div class="video-wrapper">
														<iframe src="https://www.youtube.com/embed/mWyjA8-dUak">
														</iframe>
														</div>
													</div>

											</div>
										</div>										

									<hr class="major" />

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>