<!DOCTYPE HTML>
<html>
	<head>
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="home">Home</a></li>
							<li><a href="opportunities">Opportunities</a></li>
							<li><a href="resources">Resources</a></li>
							<li><a href="gallery">Gallery</a></li>
							<li><a href="team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

					<div id="main" class="alt">

						<!-- One -->

									<div class="inner">
									<header class="major">
										<h1>Gallery</h1>
									</header>

									<!-- Content -->
									<h1 align="center"> Virtual Events </h1>
										<div class="row">											
											<!-- Break -->
											<div class="col-6 col-12-medium">
													<div class="box" id="fintech">
														<h3 align="center">All About Fintech</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/gallery/fintech.png') }}" alt="" /></span>
														<h5> Hosts: Gargi Gupta, Tushita Rathore</h5>
														<p>Get to know all about FinTech by Gargi Gupta & Tushita Rathore! This session will enlighten us about what is fintech, amazing career opportunities in this field, and a sneak peek into their journeys as well!</p>
														<iframe class="image fit" height="350px" width="500px" src="https://www.youtube.com/embed/VJ2Yf0CQ3-E">
														</iframe>
													</div>

											</div>
											<div class="col-6 col-12-medium">
													<div class="box" id="career-design">
														<h3 align="center">Career in Design</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/gallery/career-design.png') }}" alt="" /></span>
														<h5> Hosts: Bhavna Nagpal, Amya Rai, Chanchal Prajapati, Karan Gupta</h5>
														<p>Women in Tech, IIITD conducted a webinar on Career in Design by our amazing alumuni as panelists! A really helpful session to clear any doubts you might have around the design field.</p>
														<iframe class="image fit" height="350px" width="500px" src="https://www.youtube.com/embed/xg4N_ZKZGzc">
														</iframe>
													</div>

											</div>
										</div>
										<div class="row">
											<div class="col-6 col-12-medium">
													<div class="box" id="tech-roles">
														<h3 align="center">Applying to Tech Roles</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/gallery/tech-roles.jpg') }}" alt="" /></span>
														<h5> Host: Anannya Uberoi</h5>
														<p>Here is the AMA session by Anannya Uberoi guiding through the journey of finding jobs and internships, preparing for them, and attempting interviews!</p>
														<iframe class="image fit" height="350px" width="500px" src="https://www.youtube.com/embed/TLr9EW-Dn-c">
														</iframe>
													</div>

											</div>
											<div class="col-6 col-12-medium">
													<div class="box" id="wtm-ama">
														<h3 align="center">Women Techmakers Scholarship AskMeAnything Session</h3>
														<span class="image fit"><img src="{{ url_for('static', filename='images/gallery/wtm-ama.png') }}" alt="" /></span>
														<h5> Hosts: Zoha Hamid, Angel Walia</h5>
														<p>Listen to past WTM scholars Zoha Hamid and Angel Walia talk all about the scholarship program in this ask my anything session.</p>
														<iframe class="image fit" height="350px" width="500px" src="https://www.youtube.com/embed/mWyjA8-dUak">
														</iframe>
													</div>

											</div>
										</div>

									<hr class="major" />

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li>Made by <a href="https://github.com/BhavyaC16">Bhavya Chopra</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>