<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-176781189-1');
		</script>
		
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"/></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="home">Home</a></li>
							<li><a href="opportunities">Opportunities</a></li>
							<li><a href="resources">Resources</a></li>
							<li><a href="events">Virtual Events</a></li>
							<li><a href="gallery">Gallery</a></li>
							<li><a href="team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<span class="image">
							<img src="{{ url_for('static', filename='images/banner.png') }}" alt="" />
						</span>
						<div class="inner">
							<header class="major">
								<h1>Women in Tech, IIIT-Delhi</h1>
							</header>
							<div class="content">
								<p>We aim to have a close knit community of women with access to a better network, opportunities and a support system. Through WiT, we want to garner an ecosystem where all the women grow stronger, and help their fellow peers grow with them.</p>
								<ul class="actions">
									<li><a href="#slideshowelement" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

		<main class="main-content" id="slideshowelement">
		  <section class="slideshow">
		    <div class="slideshow-inner">
		      <div class="slides">
		        <div class="slide is-active ">
		          <div class="slide-content">
		            <div class="caption">
		              <div class="title">Placement Week</div>
		              <div class="text" style="font-size: 22px">
		                <p>Women in Tech, in collaboration with LeanIn IIITD conducted AMA Sessions on Design Jobs and Internships, HCI Research Roles and SDE Roles!</p>
		              </div> 
		              
		            </div>
		          </div>
		          <div class="image-container"> 
		            <img src="static/images/slideshow/1.png" alt="" class="image" />
		          </div>
		        </div>
		        <div class="slide">
		          <div class="slide-content">
		            <div class="caption">
		              <div class="title">Telegram Channel</div>
		              <div class="text" style="font-size: 22px">
		                <p>Be a part of the community! The channel is an active source for opportunities and resources in STEM!</p>
		              </div> 
		              
		            </div>
		          </div>
		          <div class="image-container">
		            <img src="static/images/slideshow/2.png" alt="" class="image" />
		          </div>
		        </div>
		        <div class="slide">
		          <div class="slide-content">
		            <div class="caption">
		              <div class="title">Upcoming: Newsletter</div>
		              <div class="text" style="font-size: 22px">
		                <p>Women in Tech is soon coming up with monthly newsletters to help you keep in touch with the latest opportunities and events in tech!</p>
		              </div> 
		              
		            </div>
		          </div>
		          <div class="image-container">
		            <img src="static/images/slideshow/3.png" alt="" class="image" />
		          </div>
		        </div>
		      </div>
		      <div class="pagination">
		        <div class="item is-active"> 
		          <span class="icon">1</span>
		        </div>
		        <div class="item">
		          <span class="icon">2</span>
		        </div>
		        <div class="item">
		          <span class="icon">3</span>
		        </div>
		      </div>
		      <div class="arrows">
		        <div class="arrow prev">
		          <span class="svg svg-arrow-left">
		            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
		            <span class="alt sr-only"></span>
		          </span>
		        </div>
		        <div class="arrow next">
		          <span class="svg svg-arrow-right">
		            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
		            <span class="alt sr-only"></span>
		          </span>
		        </div>
		      </div>
		    </div> 
		  </section>
		</main>

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="opportunities" class="link">Opportunities in Tech</a></h3>
										<p>Scholarships, Internships, Competitions and Open Source</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="resources" class="link">Resources</a></h3>
										<p>Interview Preparation, Software Development, UI/UX Design and much more</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="events" class="link">Virtual Events</a></h3>
										<p>Watch online sessions conducted by Women in Tech</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="gallery" class="link">WiT Gallery</a></h3>
										<p>Check out events conducted by Women in Tech at IIIT-D</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="team" class="link">WiT Team</a></h3>
										<p>Meet the WiT founders and team at IIIT-D</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="contact" class="link">Contact Us</a></h3>
										<p>Be a part of the community!</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<!-- <section id="two">
								<div class="inner">
									<header>
										<h2 style="color:#015462">All About Fintech</h2>
									</header>
									<p><b style="color:#015462">Get to know all about Fintech by Gargi Gupta & Tushita Rathore! This session will enlighten us about what is fintech, amazing career opportunities in this field, and a sneak peek into their journeys as well!</b></p>
									<ul class="actions">
										<li><a href="events#fintech" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section> -->

					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li>Made by <a href="https://github.com/BhavyaC16">Bhavya Chopra</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script><script  src="./script.js"></script>
			<script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>