<!DOCTYPE HTML>
<html>
	<head>
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"/></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="home">Home</a></li>
							<li><a href="opportunities">Opportunities</a></li>
							<li><a href="resources">Resources</a></li>
							<li><a href="gallery">Gallery</a></li>
							<li><a href="team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<span class="image">
							<img src="{{ url_for('static', filename='images/banner.png') }}" width="800px"alt="" />
						</span>
						<div class="inner">
							<header class="major">
								<h1>Women in Tech, IIIT-Delhi</h1>
							</header>
							<div class="content">
								<p>We aim to have a close knit community of women with access to a better network, opportunities and a support system. Through WiT, we want to garner an ecosystem where all the women grow stronger, and help their fellow peers grow with them.</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="opportunities" class="link">Opportunities in Tech</a></h3>
										<p>Scholarships, Internships, Competitions and Open Source</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="resources" class="link">Resources</a></h3>
										<p>Interview Preparation, Software Development, UI/UX Design and much more</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="gallery" class="link">WiT Gallery</a></h3>
										<p>Watch live sessions conducted by Women in Tech</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="team" class="link">WiT Team</a></h3>
										<p>Meet the WiT founders and team at IIIT-Delhi!</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="contact" class="link">Contact Us</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" />
									</span>
									<header class="major">
										<h3><a href="updates" class="link">Recent Updates</a></h3>
										<p>Check out the latest updates about WiT</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>All about Fintech</h2>
									</header>
									<p>Get to know all about FinTech by Gargi Gupta & Tushita Rathore! This session will enlighten us about what is fintech, amazing career opportunities in this field, and a sneak peek into their journeys as well!</p>
									<ul class="actions">
										<li><a href="landing" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="404" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li>Made by <a href="https://github.com/BhavyaC16">Bhavya Chopra</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>