<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-176781189-1');
		</script>
		
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="/home">Home</a></li>
							<li><a href="/opportunities">Opportunities</a></li>
							<li><a href="/resources">Resources</a></li>
							<li><a href="/events">Virtual Events</a></li>
							<li><a href="/blog">Blogs</a></li>
							<li><a href="/newsletter">Newsletters</a></li>
							<li><a href="/team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="/contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

					<div id="main" class="alt">

						<!-- One -->

									<div class="inner">
									<header class="major">
										<h1>Internships</h1>
									</header>

									<!-- Content -->
									<div class="row">											
											<!-- Break -->
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google Talent Sprint</h3>
														<p>The program is a combination of boot camps, live online classes, ongoing mentorship, certification and team-based projects to enhance problem-solving and computational thinking. It also provides exemplary participants with a chance to get career opportunities at high end product companies including Google.</p>
														<p><b>Eligibility:</b> Women Students currently in the first year of engineering pursuing CSE or equivalent streams</p>
														<p><b>Application Period:</b> January to February</p><div align="left">
														<a href="https://we.talentsprint.com" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google STEP Internship</h3>
														<p>STEP is a 12-week internship for students with a passion for computer science. The internship program has a focus of providing development opportunities to students from groups historically underrepresented in tech, through technical training and professional development.</p>
														<p><b>Eligibility:</b> First and second-year undergraduate that have taken atleast 1-2 college level computer science courses.</p>
														<p><b>Application Period:</b> Different times of the year for different places. Starts from September tentatively</p>
														<div align="left">
														<a href="https://buildyourfuture.withgoogle.com/programs/step/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Microsoft Codess</h3>
														<p>Codess is a community for female coders initiated by Microsoft. It is established to explore ways to promote gender diversity in the engineering field. For Indians, Microsoft holds an online coding test in the month of February to invite women to their annual Codess event held in Hyderabad/Banglore. People invited to the event have a chance of getting recruited as a summer intern at Microsoft.</p>
														<p><b>Eligibility:</b> Second-year Indian female undergraduate students pursuing computer science or related fields, from selected institutes of the country.</p>
</p>													<p><b>Application Period:</b> January to February</p>
														<div align="left">
														<a href="https://www.codess.net/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>AmazeWiT - AmazeWOW by Amazon</h3>
														<p>Development initiative with internship and FTE SDE (Full-time Software Development Engineer) opportunities for Amazon in India, focused on bringing in top tech talent from engineering institutes. AmazeWoW aims at building a gender balance at the entry level for SDE role, so that with the Amazon's talent nurturing environment, the future leadership pipeline of Amazon technology team is more diverse.</p>
														<p><b>Eligibility:</b> Indian female undergraduate students pursuing computer science or related fields. 
														<br> <b>Second year students:</b> For 2 month internship roles next year 
														<br> <b>Third year students:</b> For 6 month internship/FTE roles next year</p>
														<p><b>Application Period:</b> April to May</p>
														<div align="left">
														<a href="https://www.amazewit.in/amazewow/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>MLH Fellowship</h3>
														<p>The MLH Fellowship aims to create a high-quality remote internship alternative that's available to students worldwide. It's designed from the ground up to recreate the best of aspects of a great internship experience with a focus on education, mentorship, and fun. Spend 12 weeks leveling up your software engineering skills by contributing to the Open Source software the world depends on.</p>
														<p><b>Eligibility:</b> Age 18+, Currently enrolled in a degree or diploma granting course of study; or have graduated from one within the previous 6 months, eligible to work in the country you will reside in during the program. </p>
														<p><b>Application Period:</b> April to May</p>
														<div align="left">
														<a href="https://fellowship.mlh.io/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
									</div>
									<hr class="major" />

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li><li>Content by <a href="https://github.com/SonaliSinghal" target="_blank">Sonali Singhal</a> (Website: <a href="http://techhelpher.me/" target="_blank">techhelpher.me</a>)</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>