<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-176781189-1');
		</script>
		
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="/home">Home</a></li>
							<li><a href="/opportunities">Opportunities</a></li>
							<li><a href="/resources">Resources</a></li>
							<li><a href="/events">Virtual Events</a></li>
							<li><a href="/blog">Blogs</a></li>
							<li><a href="/newsletter">Newsletters</a></li>
							<li><a href="/team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="/contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

					<div id="main" class="alt">

						<!-- One -->

									<div class="inner">
									<header class="major">
										<h1>Open Source</h1>
									</header>

									<!-- Content -->
									<div class="row">											
											<!-- Break -->
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google Summer of Code</h3>
														<p>Google Summer of Code is a global program focused on introducing students to open source software development. Students work on a three month long programming project with an open source organization during their break from university.</p>
														<p><b>Eligibility:</b> 18+ University students</p>
														<p><b>Applications Period:</b> March</p>
														<p><b>Stipend:</b> <a href="https://developers.google.com/open-source/gsoc/help/student-stipends" target="_blank">Check here</a></p>
														
														<div align="left">
														<a href="https://summerofcode.withgoogle.com/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Outreachy</h3>
														<p>Outreachy provides internships to work in open source and free software. Outreachy internships are open to applicants around the world. Interns work remotely, and are not required to move.</p>
														<p><b>Eligibility:</b> Women Cis-Trans, residents and nationals of the United States of any gender who are Black/African American, Hispanic/Latin, Native American/American Indian, Alaska Native, Native Hawaiian, or Pacific Islander. </p>
														<p><b>Applications Period:</b> February to March and September to October</p>
														<p><b>Stipend:</b> 5,000 USD</p>
														
														<div align="left">
														<a href="https://www.outreachy.org/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google Season of Docs</h3>
														<p>Brings open source and technical writer communities together, to benefit them both. They aim to raise awareness of open source, of docs, and of technical writing.</p>
														<p><b>Eligibility:</b> 18+</p>
														<p><b>Applications Period:</b> May to June</p>
														<p><b>Stipend:</b> <a href="https://developers.google.com/season-of-docs/docs/tech-writer-stipends" target="_blank">Check here</a></p>
														
														<div align="left">
														<a href="https://developers.google.com/season-of-docs" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>GirlsScript Summer of Code</h3>
														<p>Aims to help beginners get started with Open Source Development while encouraging diversity. Throughout the program, participants contribute to different projects under guidance of experienced mentors. </p>
														<p><b>Eligibility:</b> Everyone</p>
														<p><b>Applications Period:</b> January to February</p>
														<p><b>Stipend:</b> Top participants get exciting goodies and opportunities.</p>
														
														<div align="left">
														<a href="https://www.gssoc.tech/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Hacktoberfest</h3>
														<p>A month-long celebration of open source software run by DigitalOcean.</p>
														<p><b>Eligibility:</b> Everyone</p>
														<p><b>Applications Period:</b> October</p>
														<p><b>Stipend:</b> Official limited edition Hacktoberfest t-shirt</p>
														
														<div align="left">
														<a href="https://hacktoberfest.digitalocean.com/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>The X.Org Endless Vacation of Code (EVoC)</h3>
														<p>X.Org Endless Vacation of Code (EVoC) is a Google Summer of Code (GSoC)-like project initiated in 2008 funded by the X.Org Foundation. It allows students to participate to X. Org-related projects during their vacation, at any time of the year.</p>
														<p><b>Eligibility:</b> Anyone can apply. Stipend is only provided to students with age 18+</p>
														<p><b>Applications Period:</b> Anytime throughout the year</p>
														<p><b>Stipend:</b> 5,000 USD</p>
														
														<div align="left">
														<a href="https://www.x.org/wiki/XorgEVoC/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
									</div>
									<hr class="major" />

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li><li>Content by <a href="https://github.com/SonaliSinghal" target="_blank">Sonali Singhal</a> (Website: <a href="http://techhelpher.me/" target="_blank">techhelpher.me</a>)</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>