<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176781189-1');
    </script>
    
    <title>Women in Tech | IIITD</title>
    <meta charset="utf-8" />
    <meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    <link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
  </head>
  <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <a href="/home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
            <nav>
              <a href="#menu">Menu</a>
            </nav>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <span class="image">
              <img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
            </span>
            <ul class="links">
              <li><a href="/home">Home</a></li>
              <li><a href="/opportunities">Opportunities</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/events">Virtual Events</a></li>
              <li><a href="/blog">Blogs</a></li>
              <li><a href="/newsletter">Newsletters</a></li>
              <li><a href="/team">Women in Tech Team</a></li>
            </ul>
            <ul class="actions stacked">
              <li><a href="/contact" class="button fit">Contact Us</a></li>
            </ul>
          </nav>

          <div id="main" class="alt">

            <!-- One -->

                  <div class="inner">
                  <header class="major">
                    <h1>SDE Interview Resources</h1>
                  </header>

                  <br>
                  <!-- Content -->
                  <div class="tabset">
                  <!-- Tab 1 -->
                  <input type="radio" name="tabset" id="tab1" aria-controls="DSA" checked>
                  <label for="tab1">DSA</label>
                  <!-- Tab 2 -->
                  <input type="radio" name="tabset" id="tab2" aria-controls="CP">
                  <label for="tab2">CP</label>
                  <!-- Tab 3 -->
                  <input type="radio" name="tabset" id="tab3" aria-controls="OS">
                  <label for="tab3">OS</label>
                  <!-- Tab 4 -->
                  <input type="radio" name="tabset" id="tab4" aria-controls="DBMS">
                  <label for="tab4">DBMS</label>
                  <!-- Tab 5 -->
                  <input type="radio" name="tabset" id="tab5" aria-controls="SD">
                  <label for="tab5">System Design</label>
                  <!-- Tab 6 -->
                  <input type="radio" name="tabset" id="tab6" aria-controls="Tips">
                  <label for="tab6">Interview Tips</label>
                  
                  <div class="tab-panels">
                    
                    <section id="dsa" class="tab-panel">
                      <h2>Data Structures and Algorithms</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Cracking the Coding Interview</h3>
                            <p>Cracking the Coding Interview: 189 Programming Questions and Solutions is a book by Gayle Laakmann McDowell about coding interviews.</p>
                            <div align="left">
                            <a href="http://www.crackingthecodinginterview.com/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>                     
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>MIT OpenCourseware | Introduction to Algorithms</h3>
                            <p>This course provides an introduction to mathematical modeling of computational problems. It covers the common algorithms, algorithmic paradigms, and data structures used to solve these problems. The course emphasizes the relationship between algorithms and programming, and introduces basic performance measures and analysis techniques for these problems.</p>
                            <div align="left">
                            <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>MIT OpenCourseware | Design and Analysis of Algorithms</h3>
                            <p>This is an intermediate algorithms course with an emphasis on teaching techniques for the design and analysis of efficient algorithms, emphasizing methods of application. Topics include divide-and-conquer, randomization, dynamic programming, greedy algorithms, incremental improvement, complexity, and cryptography.</p>
                            <div align="left">
                            <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-046j-design-and-analysis-of-algorithms-spring-2015/index.htm" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </section>


                  <section id="cp" class="tab-panel">
                      <h2>Competitive Programming</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>The One year plan for competitive coding</h3>
                            <p>A comprehensive blog by Anjali Viramgama, where she breaks down her one-year plan to help you in your starting stages.</p>
                            <div align="left">
                            <a href="https://medium.com/@anjaliviramgama/the-one-year-plan-for-competitive-coding-6af53f2f719c" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>                     
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Leetcode Preparation Questions</h3>
                            <p>Collection of Leetcode questions for interview preparation.</p>
                            <div align="left">
                            <a href="https://docs.google.com/spreadsheets/d/1KfZq_onP06UDqizkLOjraOfw2qIODDqMyd-3knUu3hA/edit#gid=196839908" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Super30 Curriculum</h3>
                            <p>An extensive list of Leetcode and System Design questions to practice. With more than 200 questions, it covers all the topics and levels of difficulties. </p>
                            <div align="left">
                            <a href="https://docs.google.com/spreadsheets/d/1O_qwBKEESxXos-4auFjiU56RemuF2Fic--Mm7ABPvHA/edit#gid=0" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>


                    <section id="os" class="tab-panel">
                      <h2>Operating Systems</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Last Minute Notes for OS</h3>
                            <p>Comprehensive notes for Operating Systems for last minute revision by GeeksforGeeks.</p>
                            <div align="left">
                            <a href="https://www.geeksforgeeks.org/last-minute-notes-operating-systems/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>


                    <section id="dbms" class="tab-panel">
                      <h2>Database Management Systems</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Last Minute Notes for DBMS</h3>
                            <p>Comprehensive notes for Fundamentals of Database Management Systems for last minute revision by GeeksforGeeks.</p>
                            <div align="left">
                            <a href="https://www.geeksforgeeks.org/last-minute-notes-dbms/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>

                    <section id="sd" class="tab-panel">
                      <h2>System Design</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>What you need to know about the System Design Interview</h3>
                            <p>Some tips to keep in mind to succeed in a System Design interview.</p>
                            <div align="left">
                            <a href="https://xpertsession.com/blog/what-you-need-to-know-about-the-system-design-interview/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>LeetCode System Design Questions</h3>
                            <p>A set of System Design Questions to practice from LeetCode.</p>
                            <div align="left">
                            <a href="https://docs.google.com/spreadsheets/d/1O_qwBKEESxXos-4auFjiU56RemuF2Fic--Mm7ABPvHA/edit#gid=1124021773" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>


                    <section id="git" class="tab-panel">
                      <h2>General Interview Tips</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Preparation Links by Sahil Dhull</h3>
                            <p>A collection of interview preparation resources.</p>
                            <div align="left">
                            <a href="https://docs.google.com/document/d/1SayYHVAfId5mACsOp0a0bmHJC0wM42gEi8qoxEyav7A/edit" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>14 Patterns to Ace Any Coding Interview Question</h3>
                            <p>A blog by Fahim ul Haq to help you identify patterns that can be used to solve any coding interview question as well as example questions for each pattern.</p>
                            <div align="left">
                            <a href="https://hackernoon.com/14-patterns-to-ace-any-coding-interview-question-c5bb3357f6ed" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Interview Preparation | Blog</h3>
                            <p>A blog by Sayali Charhate, walking you through the interview preparation that helped her get multiple offers during the lockdown.</p>
                            <div align="left">
                            <a href="https://medium.com/swlh/interview-preparation-that-helped-me-get-multiple-offers-during-the-lockdown-54675bae8bed" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>How to Pass the Culture Fit or Behavioural Interview</h3>
                            <p>A list of carefully curated points to take note of in order to succeed in the culture fit or behavioral interview of a company</p>
                            <div align="left">
                            <a href="https://xpertsession.com/blog/how-to-pass-the-culture-fit-or-behavioral-interview/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>How to interview at Amazon - Leadership</h3>
                            <p>Read up about Amazon's Leadership principles and customer obsession!</p>
                            <div align="left">
                            <a href="https://www.linkedin.com/pulse/how-interview-amazon-leadership-david-anderson/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>

                  </div>
                  </div>                  
                  <hr class="major" />

        <!-- Footer -->
          <footer id="footer">
            <div class="inner">
              <ul class="icons">
                <li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
                <li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
              </ul>
              <ul class="copyright">
                <li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li>
              </ul>
            </div>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>