<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176781189-1');
    </script>
    
    <title>Women in Tech | IIITD</title>
    <meta charset="utf-8" />
    <meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    <link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
  </head>
  <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <a href="/home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
            <nav>
              <a href="#menu">Menu</a>
            </nav>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <span class="image">
              <img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
            </span>
            <ul class="links">
              <li><a href="/home">Home</a></li>
              <li><a href="/opportunities">Opportunities</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/events">Virtual Events</a></li>
              <li><a href="/blog">Blogs</a></li>
              <li><a href="/newsletter">Newsletters</a></li>
              <li><a href="/team">Women in Tech Team</a></li>
            </ul>
            <ul class="actions stacked">
              <li><a href="/contact" class="button fit">Contact Us</a></li>
            </ul>
          </nav>

          <div id="main" class="alt">

            <!-- One -->

                  <div class="inner">
                  <header class="major">
                    <h1>PM Resources</h1>
                  </header>

                  <br>
                  <!-- Content -->
                  <div class="tabset">
                  <!-- Tab 1 -->
                  <input type="radio" name="tabset" id="tab1" aria-controls="opening" checked>
                  <label for="tab1">APM Openings</label>
                  <!-- Tab 2 -->
                  <input type="radio" name="tabset" id="tab2" aria-controls="BLOG">
                  <label for="tab2">Blogs</label>
                  <!-- Tab 3 -->
                  <input type="radio" name="tabset" id="tab3" aria-controls="Interview">
                  <label for="tab3">Interviews</label>
                  
                  
                  <div class="tab-panels">
                    
                    <section id="APM" class="tab-panel">
                      <h2>APM Openings</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>APM/PM New Grad List</h3>
                            <p>A list of APM Programs & New Grad/FTE roles.</p>
                            <div align="left">
                            <a href="https://airtable.com/shrSEJrSe0CTZ87rY/tblXMjzC0x33ggzzA/viwm3EEh9NVkwaztJ?blocks=hide" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>                     
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>APM/New Grad PM Roles Release Date</h3>
                            <p>A list of roles reported by candidates of the 2019 fulltime hiring cycle.</p>
                            <div align="left">
                            <a href="https://docs.google.com/spreadsheets/d/1-RuKYVhXb3Ez0IxmvnGFvLBet6n78OgOPnX9SxkX31s/edit#gid=0" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </section>


                  <section id="blogs" class="tab-panel">
                      <h2>Blogs</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Facebook PM Interview: the only post you'll need to read</h3>
                            <p>Comprehensive list of preparation facts and tips for the Facebook product manager (PM) and rotational product manager (RPM) interviews.</p>
                            <div align="left">
                            <a href="https://igotanoffer.com/blogs/product-manager/facebook-product-manager-interview" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div> 
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Can I be a Product Manager without a Technical Background?</h3>
                            <p>Strategies for non-technical aspiring PMs, and CS refresher resources for everyone.</p>
                            <div align="left">
                            <a href="https://medium.com/@athena.xcy/can-i-be-a-product-manager-without-technical-background-28985f2d2f41" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>APM/RPM Recruiting Resources</h3>
                            <p>Some resources to help demystify and confidently navigate APM/RPM opportunities for college seniors, final year students, interns, recent grads and aspiring PMs.</p>
                            <div align="left">
                            <a href="https://www.linkedin.com/pulse/sign-up-apmrpm-resources-college-seniors-final-year-sithamparathas" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>                    
                    </div>
                    </section>

                    <section id="intern" class="tab-panel">
                      <h2>PM Interview Resources</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Cracking the PM Interview</h3>
                            <p>Cracking the PM Interview is a comprehensive book about landing a product management role in a startup or bigger tech company.</p>
                            <div align="left">
                            <a href="https://www.amazon.in/Cracking-PM-Interview-Product-Technology/dp/0984782818" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>5 tips to nail your Product Manager Resume</h3>
                            <p>How to make sure you're noticed by Google, Facebook, Microsoft, etc and get through to the interview.</p>
                            <div align="left">
                            <a href="https://breakintopm.substack.com/p/5-tips-to-nail-your-product-manager?token=eyJ1c2VyX2lkIjo0MDYyOTg3LCJwb3N0X2lkIjo3OTM2NzMsIl8iOiJZc0pFSSIsImlhdCI6MTU5NjE5MTI2NywiZXhwIjoxNTk2MTk0ODY3LCJpc3MiOiJwdWItNjQ3MjUiLCJzdWIiOiJwb3N0LXJlYWN0aW9uIn0.UTjWTqUmsfyP2fixgKCtv6-ukOeASNWWcyIVJ2hT7LU" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Product Management Resources</h3>
                            <p>A good collection of resources for the PM/APM Journey.</p>
                            <div align="left">
                            <a href="https://www.notion.so/Product-Management-Resources-6ff0870cd6394924870df98cf9f054b0" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>

                  </div>
                  </div>                  
                  <hr class="major" />

        <!-- Footer -->
          <footer id="footer">
            <div class="inner">
              <ul class="icons">
                <li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
                <li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
              </ul>
              <ul class="copyright">
                <li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li>
              </ul>
            </div>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>