<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176781189-1');
    </script>
    
    <title>Women in Tech | IIITD</title>
    <meta charset="utf-8" />
    <meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    <link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
  </head>
  <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <a href="/home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
            <nav>
              <a href="#menu">Menu</a>
            </nav>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <span class="image">
              <img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
            </span>
            <ul class="links">
              <li><a href="/home">Home</a></li>
              <li><a href="/opportunities">Opportunities</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/events">Virtual Events</a></li>
              <li><a href="/blog">Blogs</a></li>
              <li><a href="/newsletter">Newsletters</a></li>
              <li><a href="/team">Women in Tech Team</a></li>
            </ul>
            <ul class="actions stacked">
              <li><a href="/contact" class="button fit">Contact Us</a></li>
            </ul>
          </nav>

          <div id="main" class="alt">

            <!-- One -->

                  <div class="inner">
                  <header class="major">
                    <h1>UI/UX Resources</h1>
                  </header>

                  <br>
                  <!-- Content -->
                  <div class="tabset">
                  <!-- Tab 1 -->
                  <input type="radio" name="tabset" id="tab1" aria-controls="SOFT" checked>
                  <label for="tab1">Softwares</label>
                  <!-- Tab 2 -->
                  <input type="radio" name="tabset" id="tab2" aria-controls="BLOG">
                  <label for="tab2">Blogs</label>
                  <!-- Tab 3 -->
                  <input type="radio" name="tabset" id="tab3" aria-controls="DES">
                  <label for="tab3">Design Schools</label>
                  <!-- Tab 4 -->
                  <input type="radio" name="tabset" id="tab4" aria-controls="Interview">
                  <label for="tab4">Interviews</label>
                  
                  
                  <div class="tab-panels">
                    
                    <section id="soft" class="tab-panel">
                      <h2>Softwares and Templates</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Design Resources for Developers</h3>
                            <p>Curated list of design and UI resources from software suggestions to web templates, CSS frameworks, UI libraries and much more.</p>
                            <div align="left">
                            <a href="https://github.com/bradtraversy/design-resources-for-developers#table-of-contents" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>                     
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Blush : Illustrations for Everyone</h3>
                            <p>Create, mix, and customize illustrations made by artists around the world.</p>
                            <div align="left">
                            <a href="https://blush.design/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>WebFlow</h3>
                            <p>Responsive web design tool to make websites without having to code.</p>
                            <div align="left">
                            <a href="https://webflow.com/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Design Resources</h3>
                            <p>Software and templates for all designers’ needs - in one place.</p>
                            <div align="left">
                            <a href="https://designresourc.es/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </section>


                  <section id="blogs" class="tab-panel">
                      <h2>Blogs</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Degreeless.design - Everything I Learned in Design School</h3>
                            <p>A guide for budding UX, UI, Interaction designers. A collection of resources to help you start from the beginning and build up your skills.</p>
                            <div align="left">
                            <a href="https://www.degreeless.design/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div> 
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>The Disconnect between Students and the Design Industry</h3>
                            <p>A blog by Sanjana Galgalikar, elaborating the struggles of breaking into the design industry.</p>
                            <div align="left">
                            <a href="https://uxdesign.cc/the-disconnect-between-students-and-the-design-industry-a0a04af01284" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>                    
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>UX Design Resource Collection</h3>
                            <p>List of companies that have design teams and some interesting blogs.</p>
                            <div align="left">
                            <a href="https://docs.google.com/document/d/18QHYjo8Yre6BYu0U8lmIT7QoQwbggkYYbHpV4-dedWM/edit" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>47 Key Lessons for UI & UX Designers</h3>
                            <p>A mega-list of critical knowledge for UI, UX, Interaction, and Product designers alike.</p>
                            <div align="left">
                            <a href="https://uxdesign.cc/47-key-lessons-for-ui-ux-designers-3cb296c1945b" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>The Guide to Design : Why design, Why now?</h3>
                            <p>A comprehensive collection of articles to get started with design now!</p>
                            <div align="left">
                            <a href="https://start.uxdesign.cc/why-design/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>


                    <section id="des-school" class="tab-panel">
                      <h2>Design Schools</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Digital Product School</h3>
                            <p>Digital Product School is a full-time training program by UnternehmerTUM in Munich, Europe's biggest Entrepreneurship Center.</p>
                            <div align="left">
                            <a href="https://digitalproductschool.io/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Online Product School - Students who Design</h3>
                            <p>Students Who Design is easiest way to go from 0 to your first product design job. Take live, online classes and get 1:1 help whenever you need it. And the best part? It costs nothing.</p>
                            <div align="left">
                            <a href="https://www.studentswho.design/" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Maruffi.org</h3>
                            <p>A great place to get UX design experience for absolute beginners.</p>
                            <div align="left">
                            <a href="https://www.maruffi.co/nonprofit" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>


                    <section id="intern" class="tab-panel">
                      <h2>Design Interview Resources</h2>
                      <div class="row">
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>Design Interviewing</h3>
                            <p>A blog by Kurt Varner on design interviews.</p>
                            <div align="left">
                            <a href="https://medium.com/@kurtvarner/design-interviewing-ask-me-anything-6633e8413291" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-12-medium">
                          <div class="box">
                            <h3>How Recruiters look at your Design Portfolio</h3>
                            <p>Ever wonder how recruiters look at your design portfolio? 5 insights from design recruiters and managers</p>
                            <div align="left">
                            <a href="https://uxdesign.cc/ever-wonder-how-recruiters-look-at-your-design-portfolio-cc8dd1ecb698" target="_blank" class="button">Get started</a>
                            </div>
                          </div>
                      </div>
                    </div>
                    </section>

                  </div>
                  </div>                  
                  <hr class="major" />

        <!-- Footer -->
          <footer id="footer">
            <div class="inner">
              <ul class="icons">
                <li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
                <li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
              </ul>
              <ul class="copyright">
                <li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li>
              </ul>
            </div>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>