<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176781189-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-176781189-1');
		</script>
		
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="/home">Home</a></li>
							<li><a href="/opportunities">Opportunities</a></li>
							<li><a href="/resources">Resources</a></li>
							<li><a href="/events">Virtual Events</a></li>
							<li><a href="/blog">Blogs</a></li>
							<li><a href="/newsletter">Newsletters</a></li>
							<li><a href="/team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="/contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

					<div id="main" class="alt">

						<!-- One -->

									<div class="inner">
									<header class="major">
										<h1>Scholarships</h1>
									</header>

									<!-- Content -->
									<div class="row">											
											<!-- Break -->
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>AnitaB.org Grace Hopper Scholarship</h3>
														<p>The GHC Scholars Program provides funds for women who are either undergraduate students, graduate students, or faculty to attend Grace Hopper Celebration.</p>
														<p><b>Eligibility:</b> For students: Women, 18+ by September of that year. Full-time student enrolled in an accredited degree program at a college or university pursuing Computer Science/Engineering or related fields.</p>
														<p><b>Application Period:</b> January to March</p>
														<p><b>Benefits:</b> Scholarship covers the cost of individual registeration for the GHC, hotel accomodation, airfare and stipend (to be used for travel, meals, and incidentals such as rideshares, baggage fees, etc.)</p>
														
														<div align="left">
														<a href="https://ghc.anitab.org/2020-student-academic/scholarships/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>AnitaB.org Pass It On Awards</h3>
														<p>The cash award helps fund women in computing or projects that inspire and support girls and women to enter computing. Recipients are encouraged to “pass on” the benefits they gain from the award, creating a movement of women helping women.</p>
														<p><b>Eligibility:</b> Any woman over 18 may apply, though she must be in or aspiring to be in computing fields.</p>
														<p><b>Application Period:</b> January to March</p>
														<p><b>Benefits:</b> Awards range up to 1,000 USD</p>
														
														<div align="left">
														<a href="https://systers.submittable.com/submit/76301/systers-pass-it-on-awards" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Adobe Women in Tech Scholarship</h3>
														<p>Aim towards creating gender equality in science, technology and engineering domains by encouraging women to showcase their excellence in computing and technology and become future leaders and role models in the field.</p>
														<p><b>Eligibility:</b> Be an Indian female citizen, enrolled as a full time student in a formal technology 4 year BE / B.Tech education program or an Integrated ME/MS/MTech program at an Indian University, completing the program next year (2022). Should be pursuing a Major or Minor in Computer Science/Engineering or related fields.</p>
</p>													<p><b>Application Period:</b> August to September</p>
														<p><b>Benefits:</b> Tuition fee for remainder of recipient's education, Opportunity for summer internship at Adobe India, Mentoring by a senior technology leader from Adobe, Travel to Grace Hopper Conference India, including participation fees.</p>
														
														<div align="left">
														<a href="https://research.adobe.com/adobe-india-women-in-technology-scholarship/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
											</div>
											<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Venkat Panchapakesan Memorial Scholarship by Google</h3>
														<p>Scholarship for people who are passionate to leverage the field of computer science to transform systems.</p>
														<p><b>Eligibility:</b> Indian, Full time student pursuing Computer Science/Engineering or related fields.</p>
</p>													<p><b>Application Period:</b> August to September</p>
														<p><b>Benefits:</b> 750 USD (must be spent on tuition, fees, books, supplies and equipment required for the students' classes at their primary university)</p>
														
														<div align="left">
														<a href="https://buildyourfuture.withgoogle.com/scholarships/venkat-panchapakesan-memorial-scholarship/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Red Hat</h3>
														<p>These awards are given to honor women who make important contributions to open source projects and communities, or those making innovative use of open source methodology.</p>
														<p><b>Eligibility:</b> Women </p>
</p>													<p><b>Application Period:</b> January</p>
														<p><b>Benefits:</b> 2,500 USD stipend, Paid registration, flight, and hotel accommodations for Red Hat Summit</p>
														<div align="left">
														<a href="https://www.redhat.com/en/about/women-in-open-source" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Google Women Tech Makers</h3>
														<p>An academic scholarship, awarded based on academic performance, leadership, and impact on the community of women in tech.</p>
														<p><b>Eligibility:</b> Women, in year 1 or year 2 of their undergraduate program. </p>
														<p><b>Application Period:</b> March to April</p>
														<p><b>Benefits:</b> 1000 USD stipend and an invitation to attend Women Techmakers Scholars' Retreat</p>
														<div align="left">
														<a href="https://www.womentechmakers.com/scholars" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Western Digital Scholarship Program</h3>
														<p>Aim to encourage STEM education for underrepresented and underprivileged students.</p>
														<p><b>Eligibility:</b> Undergraduate student enrolled (or to be enrolled) on a full-time basis at an accredited four-year college or university in the United States, China, Japan, India, Malaysia, Philippines or Thailand (pursuing Computer Science, Engineering, Mathematics or Science). </p>
														<p><b>Application Period:</b> January to April</p>
														<p><b>Benefits:</b> Upto 5000 USD stipend</p>
														<div align="left">
														<a href="https://www.westerndigital.com/company/corporate-philanthropy/scholarship-programs" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Nutanix .heart WIT Scholarship</h3>
														<p>Scholarships to help young women develop the skills they need to pursue their passion of computer science.</p>
														<p><b>Eligibility:</b> Female students in the United States, India, UK and Serbia in Final year of undergraduate degree or higher degree pursuing Computer Science or related field. </p>
														<p><b>Application Period:</b> November to May</p>
														<p><b>Benefits:</b> Upto 2500 USD in India and Siberia, Upto 7500 USD in USA and UK</p>
														<div align="left">
														<a href="https://www.nutanix.com/scholarships" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
										<div class="col-12 col-12-medium">
													<div class="box">
														<h3>Adobe Research Women in Tech Scholarship</h3>
														<p>This scholarship recognizes outstanding undergraduate and masters female students anywhere in the world who are studying computer science.</p>
														<p><b>Eligibility:</b> Female student currently enrolled as an undergraduate (2nd year or above) or masters student at a university pursuing Computer Science or related field. </p>
														<p><b>Application Period:</b> August to September</p>
														<p><b>Benefits:</b> 10,000 USD stipend, Creative Cloud Membership, Internship opportunity at Adobe</p>
														<div align="left">
														<a href="https://research.adobe.com/scholarship/" target="_blank" class="button">Get Started</a>
														</div>
													</div>
										</div>
									</div>
									<hr class="major" />

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li><a href="/credits">Credits</a></li><li>Design adapted from <a href="https://html5up.net/">HTML5 UP</a></li><li>Content by <a href="https://github.com/SonaliSinghal" target="_blank">Sonali Singhal</a> (Website: <a href="http://techhelpher.me/" target="_blank">techhelpher.me</a>)</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>