<!DOCTYPE HTML>
<html>
	<head>
		<title>Women in Tech | IIITD</title>
		<meta charset="utf-8" />
		<meta name="Description" CONTENT="Women in Tech, IIIT-D aims to have a close knit community of women with access to a better network, opportunities and a support system. Visit the website for resources and to learn more about opportunities in tech. Do check out the latest virtual events being organised by WiT! Portal developed by Bhavya Chopra.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<link rel="icon" href="{{ url_for( 'static' , filename='images/favicon.png') }}" type="image/gif" sizes="32x32">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="home" class="logo"><strong>Women in Tech</strong> <span>IIIT-Delhi</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<span class="image">
							<img src="{{ url_for('static', filename='images/center.jpg') }}" width="100px"alt="" />
						</span>
						<ul class="links">
							<li><a href="home">Home</a></li>
							<li><a href="opportunities">Opportunities</a></li>
							<li><a href="resources">Resources</a></li>
							<li><a href="gallery">Gallery</a></li>
							<li><a href="team">Women in Tech Team</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="contact" class="button fit">Contact Us</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->

									<div class="inner">
									<header class="major">
										<h1>WiT Team</h1>
									</header>

						<!-- Content -->
						<h1 align="center"> 2020-2021 </h1>
							<div class="row">											
								<!-- Break -->
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Ayushi-cropped.png') }}" alt="" /></span>
									<h3 align="center" class="name-of-admin">Ayushi Srivastava</h3> <h4 align="center"><a href="mailto:ayushi16025@iiitd.ac.in">ayushi16025@iiitd.ac.in</a><br>(President)</h4>
								</div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Angel-cropped.png') }}" alt="" /></span>
									<h3 align="center" class="name-of-admin">Angel Walia</h3> <h4 align="center"><a href="mailto:angel17132@iiitd.ac.in">angel17132@iiitd.ac.in</a><br>(President)</h4>
								</div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Ria-cropped.png') }}" alt="" /></span>
									<h3 align="center" class="name-of-admin">Ria Gupta</h3> <h4 align="center"><a href="mailto:ria18405@iiitd.ac.in">ria18405@iiitd.ac.in</a><br>(President)</h4>
								</div>
								<div class="col-2"></div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Vrinda-cropped.png') }}" alt="" /></span>
									<h3 align="center" class="name-of-admin">Vrinda Narayan</h3> <h4 align="center"><a href="mailto:vrinda18120@iiitd.ac.in">vrinda18120@iiitd.ac.in</a><br>(President)</h4>
								</div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Bhavya-cropped.png') }}" alt="" /></span>
									<h3 align="center" class="name-of-admin">Bhavya Chopra</h3> <h4 align="center"><a href="mailto:bhavya18333@iiitd.ac.in">bhavya18333@iiitd.ac.in</a><br>(Coordinator)</h4>
								</div>
							</div>

						<!-- Content -->
						<h1 align="center"> 2019-2020 </h1>
							<div class="row">											
								<!-- Break -->
								<div class="col-2"></div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Lavina-cropped.png') }}" alt="" /></span>
									<h3 align="center">Lavina Jain</h3> <h4 align="center">(President)</h4>
								</div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Ayushi-cropped.png') }}" alt="" /></span>
									<h3 align="center">Ayushi Srivastava</h3> <h4 align="center">(President)</h4>
								</div>
							</div>


						<h1 align="center"> 2018-2019 </h1>
							<div class="row">											
								<!-- Break -->
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Anannya-cropped.png') }}" alt="" /></span>
									<h3 align="center">Anannya Uberoi</h3> <h4 align="center">(President)</h4>
								</div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Katyayani-cropped.png') }}" alt="" /></span>
									<h3 align="center">Katyayani Singh</h3> <h4 align="center">(President)</h4>
								</div>
								<div class="col-4 col-12-medium">
									<span class="image fit"><img src="{{ url_for('static', filename='assets/admins/Kanika-cropped.png') }}" alt="" /></span>
									<h3 align="center">Kanika Saini</h3> <h4 align="center">(President)</h4>
								</div>
							</div>

						<hr class="major" />

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/wit.iiitd/" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/womenintechiiitd/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/wit-iiitd" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/witiiitd/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://t.me/joinchat/Go0cChCXer2L_21UYwFOVg" class="icon brands alt fa-telegram"><span class="label">Telegram</span></a></li>
								<li><a href="https://www.youtube.com/channel/UC4ftwaYya_dr--0eK6xieRQ" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright Women in Tech, IIIT-Delhi</li><li>Made by <a href="https://github.com/BhavyaC16">Bhavya Chopra</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>